.wrapper {
    box-sizing: border-box;
}

.side {
    width: 9%;
    font-size: 14px;
}

.time-table {
    box-sizing:border-box;
    width: 90%;
    overflow-x: auto;
    white-space: nowrap;
}

.time-row {
    font-size: 0px;
    box-sizing: inherit;
    height: 48px;
}

.time-column {
    display: inline-block;
    font-size: 14px;
    width: 96px;
    height: 48px;
}

.time-overlay {
    z-index: 5;
}

.location-box {
    display: block;
    width: 96px;
    height: 48px;
}

.time-indicator {
    box-sizing: inherit;
    height: 48px;
}

.box-data {
    box-sizing: inherit;
}

.border-default {
    border: 1px black solid;
}

.time-data .time-row {
    background-image: linear-gradient(to right,#E5E5E5 1px,transparent 1px);
    background-size: 16px auto;
}

span.time-event {
    display: inline-block;
    background-color: #EC6A5E;
    height: 48px;
    /* width temporary value */
    width: 16px;
    left: 20%;
}

font-size-0 {
    font-size: 0px;
}