header {
    margin-bottom: 10px;
}

.border-default {
    border: 1px solid gray !important;
}

.time-event, .time-location {
    font-size: 1vw;
    height: 40px;
    width: 100px;
    flex-shrink: 0;
    border: 1px solid black;
}

.time-event {
    width: 60px;
}

.time-row {
    /* 데이터가 없어도 공간확보를 위해 */
    height: 40px;
    
}

.time-now {
    background-color: #D6E6F5;
}

#time-events {
    /*overflow: scroll;*/
    width: auto;
}

#time-locations {

}

