<!DOCTYPE html>
<html lang="en">
{{> common/header}}
<body>
<header class="d-flex flex-row justify-content-center">
    <div class="d-flex flex-column col-4">
        <div class="d-flex flex-column">
            <div class="text-center">현재시간</div>
            <div class="text-center" id="current-time-view"></div>
        </div>
    </div>
</header>
<section class="w-100">
    <div class="d-flex flex-wrap justify-content-center">
        <div class="d-flex flex-column" id="left-empty-events">
            <!--<div class="d-flex">-->
                <!--<div class="p-2 border-default">402/G/1</div>-->
                <!--<div class="p-2 border-default">10:00 ~ 11:00</div>-->
                <!--<div class="p-2 border-default">14:00 ~ 15:00</div>-->
            <!--</div>-->
        </div>
        <div class="d-flex flex-column" id="right-empty-events">
            <!-- empty -->
        </div>

        <!--<div class="flex-grow-1 time-locations">-->
        <!--<div class="d-flex">401</div>-->
        <!--<div class="d-flex">402</div>-->
        <!--<div class="d-flex">403</div>-->
        <!--</div>-->
        <!--<div class="d-flex flex-column border-default" id="time-locations">-->
        <!--<div class="border-default time-location">401</div>-->
        <!--<div class="border-default time-location">402</div>-->
        <!--</div>-->
        <!--<div class="d-flex flex-column border-default time-events" id="time-events">-->

        <!--</div>-->
    </div>
</section>
<footer></footer>
{{> common/footer}}
<script>
    window.onload = function () {
        setCurrentTime(),

            // 페이지 로딩시 고정된 대여장소 로딩
            getLocations(function (data) {
                console.log(data);
                drawEmptyLocations(data)
                // 오늘 날짜에 해당하는 이벤트 불러오기
                    getEmptyEvents(getDays(), function (data) {
                        for (var i in data) {
                            events.push(data[i]);
                        }
                        drawEmptyEvents(data);
                    })
            }),

            setCurrentDateTime();
    }
</script>
</body>
</html>