<!DOCTYPE html>
<html lang="en">
{{> common/header}}
<body>
<header class="d-flex flex-row justify-content-center">
    <div class="d-flex flex-column col-4">
        <div class="d-flex flex-column">
            <div class="text-center">현재시간</div>
            <div class="text-center" id="current-time-view"></div>
        </div>
    </div>
</header>
<section class="d-flex flex-row">
    <div class="d-flex flex-column border-default time-locations" id="time-locations">
        <!--<div class="border-default time-location">401</div>-->
        <!--<div class="border-default time-location">402</div>-->
    </div>
    <div class="d-flex flex-column border-default time-events" id="time-events">
        
    </div>
    <!-- lightbox에 사용될 폼 -->
    <div style="display: none;" id="update-delete-box">
        <form id="update-delete-form">
            <div class="d-flex flex-column">
                <input type="hidden" name="id">

                <label class="mb-0 mt-1">이름</label>
                <input class="" type="text" placeholder="대여자 성명" name="lessorname"/>

                <label class="mb-0 mt-1">연습실</label>
                <select class="" name="roomno" id="locations-update-delete"></select>

                <label class="mb-0 mt-1">시작시간</label>
                <input class="" type="datetime-local" name="startdatetime"/>
                <label class="mb-0 mt-1">종료시간</label>
                <input class="" type="datetime-local" name="enddatetime"/>

                <div class="d-flex justify-content-center">
                    <button type="button" id="update" onclick="updateEvent(event)" class="btn btn-primary mr-2 mt-2">
                        수정
                    </button>
                    <button type="button" id="delete" onclick="deleteEvent(event)" class="btn btn-danger ml-2 mt-2">삭제
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>
<footer></footer>
{{> common/footer}}
</body>
</html>