<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>room rental manager</title>
</head>
<link rel="stylesheet" type="text/css" href="/jquery/jquery.skedTape.css">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
        crossorigin="anonymous">
</script>
<body>
<div class="container">
    <div class="mb-4">
        <form action="/api/events/create" method="post">
            <input type="text" placeholder="대여자 성명" name="lessorname"/>
            <input type="text" placeholder="연습실 방번호" name="roomno"/>
            <input type="datetime-local" id="start-date" name="startdate"/>
            <input type="datetime-local" id="end-date" name="enddate"/>
        </form>
        <script>
            $(function() {
                var today = new Date();
                var date = today.getFullYear()+'-'+(leftZeroPad(today.getMonth()+1))+'-'+leftZeroPad(today.getDate());
                // var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                var time = leftZeroPad(today.getHours()) + ":" + leftZeroPad(today.getMinutes());
                // 2019-03-09T02:05
                var dateTime = date+'T'+time;

                $('#start-date').val(dateTime);
            });

            // 3 -> 03, 02 -> 02
            function leftZeroPad(target) {
                if (target.toString().length < 2) {
                    return '0' + target;
                }else {
                    return target;
                }
            }
        </script>
    </div>
    <div class="mb-4">
        <div id="sked2"></div>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/solid.css"
      integrity="sha384-wnAC7ln+XN0UKdcPvJvtqIH3jOjs9pnKnq9qX68ImXvOGz2JuFoEiCjT8jyZQX2z" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css"
      integrity="sha384-HbmWTHay9psM8qyzEKPc8odH4DsOuzdejtnr+OFtDmOcIVnhgReQ4GZBH7uwcjf6" crossorigin="anonymous">
<script type="application/javascript" src="/jquery/jquery.skedTape.js"></script>
<script type="text/javascript">

    function getEventsData(cb) {
        $.ajax({
            type: 'GET',
            dataType: "json",
            url: '/api/events',
            // 요청에 성공하면, 요청한 JSON 데이터를 done()으로 넘겨준다
        }).done(cb);
    }

    // done()으로부터 넘어온 JSON데이터를 data로 받아서 처리한다
    getEventsData(function (data) {
        console.log(JSON.stringify(data));
        console.log(data.lessorName); // 황태원
        console.log(data.location.roomNo); // 401

// locations의 id와 events의 location은 동일해야 한다
        var locations = [
            {id: data.location.id, name: data.location.roomNo.toString()},
            {id: '402', name: "402"}, // dummy
            {id: '410', name: "410"}, // dummy
        ];

        var events = [
            {
                name: data.lessorName,
                location: data.location.id,
                start: today(4, 15),
                end: today(7, 30)
            },

        ];

        function today(hours, minutes) {
            var date = new Date();
            date.setUTCHours(hours, minutes, 0, 0);
            return date;
        }

        function yesterday(hours, minutes) {
            var date = today(hours, minutes);
            date.setTime(date.getTime() - 24 * 60 * 60 * 1000);
            return date;
        }

        function tomorrow(hours, minutes) {
            var date = today(hours, minutes);
            date.setTime(date.getTime() + 24 * 60 * 60 * 1000);
            return date;
        }

        var $sked2 = $.skedTape({
            caption: 'Cities',
            start: today(9, 0),
            end: today(18, 0),
            showEventTime: true,
            showEventDuration: true,
            locations: locations.slice(),
            events: events.slice(),
            tzOffset: 9,
            sorting: true,
            orderBy: 'name'
        });
        $sked2.appendTo('#sked2').skedTape('render');
    })




    // --------------------------- Data --------------------------------
    // var locations = [
    //     {id: '1', name: 'San Francisco'},
    //     {id: '2', name: 'Sydney'},
    //     {id: '3', name: 'New York'},
    //     {id: 'london', name: 'London'},
    //     {id: '5', name: 'Copenhagen'},
    //     {id: '6', name: 'Berlin'},
    // ];
    // var events = [
    //     {
    //         name: 'Meeting 1',
    //         location: 'london',
    //         start: today(4, 15),
    //         end: today(7, 30)
    //     },
    //     {
    //         name: 'Meeting 2 (ovelapping)',
    //         location: 'london',
    //         start: today(6, 30),
    //         end: today(9, 15)
    //     },
    //     {
    //         name: 'Meeting 3 (ovelapping)',
    //         location: 'london',
    //         start: today(9, 0),
    //         end: today(11, 30)
    //     },
    //     {
    //         name: 'Meeting 4 (ovelapping)',
    //         location: 'london',
    //         start: today(7, 45),
    //         end: today(8, 30)
    //     },
    //     {
    //         name: 'Meeting 5 (ovelapping)',
    //         location: 'london',
    //         start: today(8, 0),
    //         end: today(8, 15)
    //     },
    //     {
    //         name: 'Meeting',
    //         location: '1',
    //         start: today(0, 0),
    //         end: today(1, 30)
    //     },
    //     {
    //         name: 'Meeting',
    //         location: '5',
    //         start: today(0, 0),
    //         end: today(1, 30)
    //     },
    //     {
    //         name: 'Meeting',
    //         location: '1',
    //         start: today(10, 0),
    //         end: today(11, 30)
    //     },
    //     {
    //         name: 'Meeting with custom class',
    //         location: '2',
    //         start: yesterday(22, 0),
    //         end: today(1, 30),
    //         class: 'custom-class'
    //     },
    //     {
    //         name: 'Meeting just after the previous one',
    //         location: '2',
    //         start: today(1, 45),
    //         end: today(2, 45),
    //         class: 'custom-class'
    //     },
    //     {
    //         name: 'And another one...',
    //         location: '2',
    //         start: today(3, 10),
    //         end: today(5, 30),
    //         class: 'custom-class'
    //     },
    //     {
    //         name: 'Disabled meeting',
    //         location: '3',
    //         start: yesterday(22, 15),
    //         end: yesterday(23, 30),
    //         disabled: true
    //     },
    //     {
    //         name: 'Meeting',
    //         location: '3',
    //         start: yesterday(23, 45),
    //         end: today(1, 30)
    //     },
    //     {
    //         name: 'Meeting that started early',
    //         location: '6',
    //         start: yesterday(21, 45),
    //         end: today(0, 45)
    //     },
    //     {
    //         name: 'Late meeting',
    //         location: '5',
    //         start: today(11, 15),
    //         end: today(13, 45)
    //     },
    // ];

    // -------------------------- Helpers ------------------------------
    // function today(hours, minutes) {
    //     var date = new Date();
    //     date.setUTCHours(hours, minutes, 0, 0);
    //     return date;
    // }
    //
    // function yesterday(hours, minutes) {
    //     var date = today(hours, minutes);
    //     date.setTime(date.getTime() - 24 * 60 * 60 * 1000);
    //     return date;
    // }
    //
    // function tomorrow(hours, minutes) {
    //     var date = today(hours, minutes);
    //     date.setTime(date.getTime() + 24 * 60 * 60 * 1000);
    //     return date;
    // }

    // --------------------------- Example 1 ---------------------------
    // var $sked1 = $('#sked1').skedTape({
    //     caption: 'Cities',
    //     start: yesterday(22, 0),
    //     end: today(12, 0),
    //     showEventTime: true,
    //     showEventDuration: true,
    //     scrollWithYWheel: true,
    //     locations: locations.slice(),
    //     events: events.slice(),
    //     maxTimeGapHi: 60 * 1000, // 1 minute
    //     minGapTimeBetween: 1 * 60 * 1000,
    //     snapToMins: 1,
    //     editMode: true,
    //     formatters: {
    //         date: function (date) {
    //             return $.fn.skedTape.format.date(date, 'l', '.');
    //         },
    //         duration: function (ms, opts) {
    //             return $.fn.skedTape.format.duration(ms, {
    //                 hrs: 'ч.',
    //                 min: 'мин.'
    //             });
    //         },
    //     },
    //     canAddIntoLocation: function (location, event) {
    //         return location.id !== 'london';
    //     },
    //     postRenderLocation: function ($el, location, canAdd) {
    //         this.constructor.prototype.postRenderLocation($el, location, canAdd);
    //         $el.prepend('<i class="fas fa-thumbtack text-muted"/> ');
    //     }
    // });
    // $sked1.on('event:dragEnded.skedtape', function (e) {
    //     console.log(e.detail.event);
    // });
    // $sked1.on('event:click.skedtape', function (e) {
    //     $sked1.skedTape('removeEvent', e.detail.event.id);
    // });
    // $sked1.on('timeline:click.skedtape', function (e, api) {
    //     try {
    //         $sked1.skedTape('startAdding', {
    //             name: 'New meeting',
    //             duration: 60 * 60 * 1000
    //         });
    //     } catch (e) {
    //         if (e.name !== 'SkedTape.CollisionError') throw e;
    //         //alert('Already exists');
    //     }
    // });
    // --------------------------- Example 2 ---------------------------
    // var $sked2 = $.skedTape({
    //     caption: 'Cities',
    //     start: yesterday(23, 0),
    //     end: tomorrow(0, 0),
    //     showEventTime: true,
    //     showEventDuration: true,
    //     locations: locations.slice(),
    //     events: events.slice(),
    //     tzOffset: 0,
    //     sorting: true,
    //     orderBy: 'name'
    // });
    // $sked2.appendTo('#sked2').skedTape('render');
</script>
<script>

</script>
</body>
</html>